.game {
    margin-top: 60px;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    grid-template-areas:
        "player1 player2"
        "button button";
    justify-items: center;
    grid-gap: 30px;
}

.player1 {
    grid-area: player1;
    display: grid;
    grid-gap: 20px;
    justify-items: center;
}

.player2 {
    grid-area: player2;
    display: grid;
    grid-gap: 20px;
    justify-items: center;
}

.button {
    grid-area: button;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    justify-items: center;
}

